{% extends "base.html" %}
{% set active_page = 'add-person' %}
{% block title %} Add a New Person {% endblock %}
{% block content %}
<div class="container my-auto bg-light">
  <div class="w-50">
    <form method="post">
      {{ form.csrf_token }}
      <div class="mb-3">
        <fieldset class="form-field">
          {{ form.pseudonym.label(class="form-label") }}
          {{ form.pseudonym(class="form-control") }}
          {% if form.pseudonym.errors %}
          <ul class="errors">
            {% for error in form.pseudonym.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>
      </div>
      <div class="mb-3">
        <fieldset class="form-field">
          {{ form.notes.label(class="form-label") }}
          {{ form.notes(class="form-control") }}
          {% if form.notes.errors %}
          <ul class="errors">
            {% for error in form.notes.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </fieldset>
      </div>
      {{ form.submit(class="btn btn-success") }}
    </form>
  </div>
</div>
{% endblock %}