{% extends "base.html" %}
{% set active_page = 'Behavior' %}
{% block title %} Behavior Selection {% endblock %}
{% block content %}
<div class="container align-self-center bg-light"><br>
    <h1 class="header_logo text-center">Log behaviors</h1>
    <br>
    <div class="u-center-text">
        <!-- <p>Please select the behavior you would like to track for this person</p>
    <p>and whether you'd like to track using frequency or duration.</p><br>
    <p>[ insert behavior form here for behavior label, etc ]</p> -->
        <form action="/action_page.php">
            <label for="fname">Behavior Name:</label><br>
            <input type="text"><br>
            <label for="lname">Frequency:</label><br>
            <input type="text"><br><br>
        </form>
        <span class="timer" id="time">0s</span>
        <hr>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button id="reset" type="button" class="btn btn-danger">Reset</button>
            <button id="start" type="button" class="btn btn-warning">Start</button>
            <button id="save" type="button" class="btn btn-success">Save</button>
        </div><br><br>
        <div id="results">
            <strong>Timer results of <span id="timer_results"></span> seconds saved</strong>
        </div>
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        const startButton = document.querySelector("#start");
        const resetButton = document.querySelector("#reset");
        const saveButton = document.querySelector("#save");
        resetButton.disabled = true;
        saveButton.disabled = true;
        let check = null;
        let count = 0;

        function start() {
            if (check == null) {
                resetButton.disabled = false;
                saveButton.disabled = false;
                document.getElementById("start").innerHTML = "Stop";
                check = setInterval(function () {
                    count++;
                    document.getElementById("time").innerHTML = count + "s";
                }, 1000);
            } else {
                clearInterval(check);
                check = null;
                document.getElementById("start").innerHTML = "Resume";
            }
        }

        function reset() {
            clearInterval(check);
            count = 0;
            check = null;
            document.getElementById('time').innerHTML = "0s";
            document.getElementById('start').innerHTML = "Start";
            resetButton.disabled = true;
            saveButton.disabled = true;
        }

        function save() {
            // can add more data e.g. frequency into server_data
            const server_data = [{ "timer": count }];
            $.ajax({
                type: "POST",
                url: "/behavior_timer",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function (result) {
                    document.getElementById("timer_results").innerHTML = result.time + ' ';
                }
            });
            document.getElementById('results').style.display = 'block';
        }

        startButton.addEventListener('click', start);
        resetButton.addEventListener('click', reset);
        saveButton.addEventListener('click', save);
    </script>
    {% endblock %}

    {% endblock %}