{% extends "base.html" %}
{% set active_page = 'Behavior' %}
{% block title %} Behavior Selection {% endblock %}
{% block content %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script type="text/javascript">
    let check = null;
    let count = 0;

    function start() {
        if (check == null) {
            check = setInterval(function () {
                count++;
                document.getElementById("time").innerHTML = count + "s";
                document.getElementById("start").innerHTML = "";
            }, 1000);
        }
    }

    function stop(reset = false) {
        clearInterval(check);
        check = null;
        if (reset) {
            count = 0;
            document.getElementById('time').innerHTML = "0s";
            document.getElementById('start').innerHTML = "Start";
        } else {
            document.getElementById("start").innerHTML = "Resume";
        }
    }

    function save() {
        const server_data = [{"timer": count}];
        $.ajax({
            type:"POST",
            url: "/behavior_timer",
            data: JSON.stringify(server_data),
            contentType: "application/json",
            dataType: 'json',
            success: function(result) {
                b = result.time; 
                document.getElementById("timer_results").innerHTML = result.time;
            }
        });
    }
</script>
{% endblock %}
<div class="header">
    <h1 class="header_logo text-center">Log behaviors</h1>
</div><br>

<p>Please select the behavior you would like to track for this person, and whether you'd like to track using
    frequency or duration.</p><br>

<p>[ insert behavior form here for behavior label, etc ]</p>
<div class="u-center-text">

    <span class="timer" id="time">0s</span>
    <div class="form_button-container">
        <button id="start" class="button" type="submit" onclick="start();">Start</button>
    </div>
    <div class="form_button-container">
        <button id="stop" class="button" type="submit" onclick="stop();">Stop</button>
    </div>

    <div class="form_button-container">
        <button id="reset" class="button" type="submit" onclick="stop(reset=true);">Reset</button>
    </div>
    <div class="form_button-container">
        <button id="save" class="button" type="submit" onclick="save();">Save</button>
    </div>
    <div id="">
        <h2>Timer results saved</h2>
        <p>Data saved. The behavior duration is <span id="timer_results"></span> seconds.   </p> 
      </div>
</div>
{% endblock %}