{% extends "base.html" %}
{% set active_page = 'Behavior' %}
{% block title %} Behavior Selection {% endblock %}
{% block content %}
<div class="container bg-light"><br>
    <h1 class="header_logo text-center">Log {{ person_name }}'s behaviors</h1>
    <br>
    <div class="u-center-text">
        <form method="post" id="behavior_name">
            <div class="container">
                <label for="behavior_name">Behavior Name:&nbsp;</label>
                <input type="text"><br>
            </div><br>
            <div class="container freq">
                <label for="frequency">Frequency:&nbsp;&nbsp;</label>
                <input type="number"><br>
            </div>
            <br>
        </form>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <p> Timer:&nbsp;&nbsp;
                <button id="start" type="button" class="btn btn-warning">Start</button>
                <button id="reset" type="button" class="btn btn-danger">Reset</button>
                &nbsp;&nbsp;
                <span class="timer position-absolute bottom-25" id="time">0s</span>
            </p>
        </div><br><hr>
            <button id="save" type="button" class="btn btn-success btn-lg">Save</button>
            <button class="text-center btn btn-muted btn-sm"><a href="{{ url_for('duration') }}">Clear
                    forms</a></button>
        <hr>
        <div id="frequency_results_display">
            <strong>Frequency results of <span id="frequency_results"></span> saved</strong>
        </div>
        <br>
        <div id="timer_results_display">
            <strong>Timer results of <span id="timer_results"></span> seconds saved</strong>
        </div>
        <br>
        <p><a href="/person/{{ person_id }}">Return to {{ person_name }}'s profile</a></p>
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        const form = document.querySelector("#behavior_name");
        const behavior_name = form.elements[0];
        const frequency = form.elements[1];
        const startButton = document.querySelector("#start");
        const resetButton = document.querySelector("#reset");
        const saveButton = document.querySelector("#save");
        resetButton.disabled = true;
        let check = null;
        let count = 0;

        function start() {
            if (check == null) {
                resetButton.disabled = false;
                document.getElementById("start").innerHTML = "Stop";
                check = setInterval(function () {
                    count++;
                    document.getElementById("time").innerHTML = count + "s";
                }, 1000);
            } else {
                clearInterval(check);
                check = null;
                document.getElementById("start").innerHTML = "Resume";
            }
        }

        function reset() {
            clearInterval(check);
            count = 0;
            check = null;
            document.getElementById('time').innerHTML = "0s";
            document.getElementById('start').innerHTML = "Start";
            resetButton.disabled = true;
        }

        function save() {
            const server_data = [{
                "behavior_name": behavior_name.value,
                "frequency": frequency.value,
                "timer": count
            }];
            $.ajax({
                type: "POST",
                url: "/duration_timer",
                data: JSON.stringify(server_data),
                contentType: "application/json",
                dataType: 'json',
                success: function (result) {
                    if (count > 0) {
                        document.getElementById("timer_results").innerHTML = result.time + ' ';
                        document.getElementById('timer_results_display').style.display = 'block';
                    }
                    if (frequency.value != null) { //fixme 
                        document.getElementById("frequency_results").innerHTML = result.frequency;
                        document.getElementById('frequency_results_display').style.display = 'block';
                    }
                }
            });
        }

        startButton.addEventListener('click', start);
        resetButton.addEventListener('click', reset);
        saveButton.addEventListener('click', save);
    </script>
    {% endblock %}

    {% endblock %}