{% extends "base.html" %}
{% set active_page = 'person' %}
{% block title %} Person Information {% endblock %}
{% block content %}

<div class="container align-self-center w-50 bg-light">
  <form method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
      <fieldset class="form-field">
        {{ form.pseudonym.label(class="form-label") }}
        {{ form.pseudonym(class="form-control") }}
        {% if form.pseudonym.errors %}
        <ul class="errors">
          {% for error in form.pseudonym.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>
    </div>
    <div class="mb-3">
      <fieldset class="form-field">
        {{ form.notes.label(class="form-label") }}
        {{ form.notes(class="form-control") }}
        {% if form.notes.errors %}
        <ul class="errors">
          {% for error in form.notes.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </fieldset>
    </div>
    <p class="bottom"><a class="bottom" href="{{ url_for('behavior') }}">Log Behavior</a></p><hr>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button class="panel-body btn-warning"><input type="submit" name="action" value="Update"></button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button class="panel-body btn-success"><input type="submit" name="action" value="Delete"></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}